---
import {
  documentToHtmlString,
  type Options,
} from "@contentful/rich-text-html-renderer";
import {
  BLOCKS,
  INLINES,
  MARKS,
  type Document,
} from "@contentful/rich-text-types";
import BackButton from "@components/BackButton/BackButton.astro";
import BlogLayout from "@layouts/BlogLayout.astro";

import CoverImage from "./CoverImage.astro";

interface Props {
  title: string;
  body: Document;
  coverImageUrl?: string;
}

const { title, body, coverImageUrl } = Astro.props;

const options: Options = {
  renderNode: {
    [BLOCKS.PARAGRAPH]: (node, next) =>
      `<p class="mb-4">${next(node.content)}</p>`,
    [BLOCKS.HEADING_1]: (node, next) =>
      `<h1 class="text-lg md:text-2xl">${next(node.content)}</h1>`,
    [BLOCKS.HEADING_2]: (node, next) =>
      `<h2 class="text-md md:text-lg">${next(node.content)}</h2>`,
    [BLOCKS.HEADING_3]: (node, next) =>
      `<h3 class="text-md md:text-xl">${next(node.content)}</h3>`,
    [BLOCKS.EMBEDDED_ASSET]: (node) => {
      const { title, description, file } = node.data.target.fields;
      return `
        <a
          href="${node.data.target.fields.file.url}"
          class="my-8 block"
          target="_blank"
          rel="noopener noreferrer"
        >
          <figure class="flex flex-col items-center gap-2">
            <img
              class="w-full max-w-[80%] bg-brandGray-200 dark:bg-brandGray-700 rounded-sm"
              width="${file.details.image.width}"
              height="${file.details.image.height}"
              src="${file.url}"
              alt="${title}"
              loading="lazy"
            />
            ${
              title || description
                ? `<figcaption class="text-center w-full max-w-[80%] flex flex-col gap-1">
              ${title ? `<span class="text-sm">${title}</span>` : ""}
              ${description ? `<span class="text-xs">${description}</span>` : ""}
            </figcaption>`
                : ""
            }
          </figure>
        </a>`;
    },
    [INLINES.HYPERLINK]: (node, next) =>
      `<a href="${node.data.uri}" class="text-primary hover:underline">${next(node.content)}</a>`,
  },
  renderMark: {
    [MARKS.CODE]: (text) => {
      const regex = /^lang:(\w+)/m;
      const match = text.match(regex);

      if (!match) {
        return `<code>${text}</code>`;
      }

      const language = match[1];
      let code = text.replace(regex, "").trim();

      return `<pre><code class="language-${language}">${code}</code></pre>`;
    },
  },
};

const bodyHtmlContent = documentToHtmlString(body, options);
---

<BlogLayout title={title}>
  <BackButton />
  {coverImageUrl && <CoverImage url={coverImageUrl} />}
  <div class="relative container mt-2 mb-0 flex flex-col">
    <h2
      class="text-2xl text-white text-backdrop mx-6 mt-2 mb-4 lg:text-4xl xl:text-6xl"
    >
      {title}
    </h2>
    <div
      class="blog-content shadow-lg bg-brandGray-50 bg-opacity-90 dark:bg-brandGray-800 dark:bg-opacity-90 backdrop-blur-sm z-10 mb-0 px-8 pt-6 pb-12"
      set:html={bodyHtmlContent}
    />
  </div>
</BlogLayout>
<script is:inline>
  window.Prism = window.Prism || {};
  Prism.manual = true;
  document.addEventListener("astro:page-load", () => {
    console.log("===== Prism: ", Prism);
    Prism.highlightAll();
  });
</script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"
  integrity="sha512-UOoJElONeUNzQbbKQbjldDf9MwOHqxNz49NNJJ1d90yp+X9edsHyJoAs6O4K19CZGaIdjI5ohK+O2y5lBTW6uQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  data-manual></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-typescript.min.js"
  integrity="sha512-Hb168WC7SiCJ1GlGPHBb5ol0ResC6n5wu+5V8FTT5inC5ajLgBSm2hpQBvDq1YG2KqXr7UanlfQqRy6VEb1/kQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-jsx.min.js"
  integrity="sha512-02Ybjxfrp2RGVCd29o1Didkx6lAD2yQRW4vOqCzpEWsqfRay1FhN6G4FFPSGu6ER01RAWjLPVraD9tixC5Sbow=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-yaml.min.js"
  integrity="sha512-epBuSQcDNi/0lmCXr7cGjqWcfnzXe4m/GdIFFNDcQ7v/JF4H8I+l4wmVQiYO6NkLGSDo3LR7HaUfUL/5sjWtXg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
