---
import type {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
} from "astro";
import { documentToHtmlString, type Options } from '@contentful/rich-text-html-renderer';
import { BLOCKS, INLINES } from '@contentful/rich-text-types';

import Layout from "@layouts/BlogLayout.astro";
import { getSingleBlogEntryStaticPaths } from "@lib/pagesStaticPathsGenerators";
import { Language } from "@types";

export const getStaticPaths = getSingleBlogEntryStaticPaths(Language.en);

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { title, excerpt, body } = Astro.props;

const options: Options = {
  renderNode: {
    [BLOCKS.PARAGRAPH]: (node, next) =>
      `<p class="mb-4">${next(node.content)}</p>`,
    [BLOCKS.HEADING_2]: (node, next) =>
      `<h2 class="text-lg">${next(node.content)}</h2>`,
    [INLINES.HYPERLINK]: (node, next) =>
      `<a href="${node.data.uri}" class="text-blue-500 hover:underline">${next(node.content)}</a>`,
  }
};
const bodyHtmlContent = documentToHtmlString(body, options);

---

<Layout>
  <div>
    <button type="button" id="backButton">Back</button>
    <div class="my-2 flex flex-col">
      <h2 class="text-xl">{title}</h2>
      <div>{excerpt}</div>
      <div set:html={bodyHtmlContent} />
    </div>
  </div>
</Layout>

<script>
  document.getElementById("backButton")?.addEventListener("click", () => {
    history.back();
  });
</script>
